header {
    margin: 0px;
    padding: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 100px;
    background-color: rgb(71, 176, 167);
    height: 80px;
    width: 260px;
  }
  main {
    margin: 0px;
    padding: 60px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-left: 100px;
    background-color: rgb(120, 143, 167);
    max-height: 400px;
    width: 260px;
  }
  #order-btn {
    background-color: rgb(71, 176, 167);
    padding: 10px;
    border: none;
    color: white;
  }
  #order-btn:hover {
    background-color: rgb(189, 184, 201);
    color: black;
  }